# 기계 학습 실기 평가

## 다음의 문제를 풀되 random_state 값은 2020, 테스트 데이터의 크기는 던체 데이터의 20%로 할 것

### 1. Iris 데이터에 대해서 sepal_width에 대한 회귀식을 구하고, RMSE값을 구하시오. (sepal_length, petal_length, petal_width) 및 variety(품종)에 대한 회귀식임.

In [1]:
from sklearn.datasets import load_iris
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

In [2]:
iris = load_iris()
columns = ['sepal_length','sepal_width','petal_length','petal_width']
iris_df = pd.DataFrame(data = iris.data, columns = columns)
iris_df['variety'] = iris.target

In [3]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width  variety
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [4]:
X_feature = iris_df.drop(columns = 'sepal_width')
y_target = iris_df['sepal_width']

y_target

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X_feature, y_target, test_size = 0.2,
                                                    random_state = 2020)

lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_test)
rmse =  np.sqrt(mean_squared_error(y_test,pred))
print('RMSE : %.4f'%rmse)

RMSE : 0.2973

### 2. 폐암 데이터(ThoraricSurgery.scv, 맨 마지막 열이 1년 생존여부임)에 대하여 SVM, 결정 트리, 로지스틱 회귀를 이용하여 1년 생존 여부에 대하여 예측을 해보고 각각의 경우에 대해서 정확도를 구하시오.

In [13]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [14]:
thoraricdf = pd.read_csv('./data/ThoraricSurgery.csv')

In [15]:
thoraricdf.head(3)

,293,1,3.8,2.8,0,0.1,0.2,0.3,0.4,0.5,12,0.6,0.7,0.8,1.1,0.9,62,0.10
0,1,2,2.88,2.16,1,0,0,0,1,1,14,0,0,0,1,0,60,0
1,8,2,3.19,2.50,1,0,0,0,1,0,11,0,0,1,1,0,66,1
2,14,2,3.98,3.06,2,0,0,0,1,1,14,0,0,0,1,0,80,1

In [16]:
thoraricdf.shape

(469, 18)

In [17]:
thoraric_data = thoraricdf.drop(columns = '0.10').values
thoraric_taget = thoraricdf['0.10']

In [18]:
X_train,X_test,y_train,y_test = train_test_split(thoraric_data, thoraric_taget,test_size = 0.2,
                                                 random_state =2020)

In [19]:
svc = SVC(kernel='linear', C=2.0)
svc.fit(X_train,y_train)
svc_pred = svc.predict(X_test)

In [20]:
print('SVM accuracy : {0:.4f}'.format(accuracy_score(y_test,svc_pred)))

SVM accuracy : 0.8936

In [21]:
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
dt_pred = dt.predict(X_test)

In [22]:
print('결정 트리 accuracy : {0:.4f}'.format(accuracy_score(y_test,dt_pred)))

결정 트리 accuracy : 0.7766

In [28]:
lr = LogisticRegression()
a=lr.fit(X_train,y_train)
lr_pred = lr.predict(X_test)

In [31]:
lr_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0], dtype=int64)

In [ ]:
print('LogisticRegression accuracy : {0:.4f}'.format(accuracy_score(y_test,lr_pred)))

### 3. Iris 데이터에 대해서 2차원으로 차원 축소한 뒤, K= 2, 3, 4에 대해서 군집화를 해보고 성능을 평가하시오.

In [ ]:
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.metrics import silhouette_samples, silhouette_score

In [ ]:
iris = load_iris()
columns = ['sepal_length','sepal_width','petal_length','petal_width']
iris_df = pd.DataFrame(data = iris.data, columns = columns)
iris_df

In [ ]:
pca = PCA(n_components=2)
pca_transformed = pca.fit_transform(iris.data)
iris_df['pca_x'] = pca_transformed[:,0]
iris_df['pca_y'] = pca_transformed[:,1]
iris_df.head(3)

In [ ]:
X, y = make_blobs(n_samples = 150 , centers = 3 , cluster_std=0.8 , random_state = 2020)
iris_ftr = pd.DataFrame(data = X , columns = [ 'ftr1','ftr2'])
iris_ftr.head(3)

In [ ]:
kmeans = KMeans(n_clusters=2, init = 'k-means++',max_iter=200,random_state= 2020).fit(iris_ftr)
clusterdf = iris_ftr
clusterdf['cluster'] = kmeans.labels_
clusterdf.head()

In [ ]:
score_samples = silhouette_samples(iris_ftr,clusterdf['cluster'])
clusterdf['silhouette_coeff'] = score_samples
averange_score = silhouette_score(iris_ftr, clusterdf['cluster'])

print('K = 2 Silhouette Analusis Score: {0:.3f}'.format(averange_score))

#### K = 3

In [ ]:
X, y = make_blobs(n_samples = 150 , centers = 3 , cluster_std=0.8 , random_state = 2020)
iris_ftr = pd.DataFrame(data = X , columns = [ 'ftr1','ftr2'])
iris_ftr.head(3)

In [ ]:
kmeans = KMeans(n_clusters=3, init = 'k-means++',max_iter=200,random_state= 2020).fit(iris_ftr)
clusterdf = iris_ftr
clusterdf['cluster'] = kmeans.labels_
clusterdf.head()

In [ ]:
score_samples = silhouette_samples(iris_ftr,clusterdf['cluster'])
clusterdf['silhouette_coeff'] = score_samples
averange_score = silhouette_score(iris_ftr, clusterdf['cluster'])

print('K = 3 Silhouette Analusis Score: {0:.3f}'.format(averange_score))

#### k = 4

In [ ]:
X, y = make_blobs(n_samples = 150 , centers = 3 , cluster_std=0.8 , random_state = 2020)
iris_ftr = pd.DataFrame(data = X , columns = [ 'ftr1','ftr2'])
iris_ftr.head(3)

In [ ]:
kmeans = KMeans(n_clusters=4, init = 'k-means++',max_iter=200,random_state= 2020).fit(iris_ftr)
clusterdf = iris_ftr
clusterdf['cluster'] = kmeans.labels_
clusterdf.head()

In [ ]:
score_samples = silhouette_samples(iris_ftr,clusterdf['cluster'])
clusterdf['silhouette_coeff'] = score_samples
averange_score = silhouette_score(iris_ftr, clusterdf['cluster'])

print('K = 4 Silhouette Analusis Score: {0:.3f}'.format(averange_score))

### 4. 미드웨이 영화에 대한 네이버 리뷰(midway.tsv)에서 평점이 10점인 것은 긍정으로 7점 이하인 것은 부정으로 가정하고 감성 분석을 해보시오.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import roc_auc_score
from sklearn.pipeline import Pipeline
from konlpy.tag import *

In [ ]:
okt = Okt()

In [ ]:
reviewdf = pd.read_csv('./data/midway.tsv', header = 0, sep='\t', quoting= 3)
reviewdf[:][:1]

In [ ]:
classdf = reviewdf['감상평']
featuredf = [ str(i) for i in reviewdf['평점'] ]
x_train, x_test, y_train, y_test = train_test_split(featuredf,classdf, test_size =0.3,
                                                       random_state=2020)
classdf.fillna(value ='',inplace = True)

In [ ]:
pipeline = Pipeline([
    ('cvect',CountVectorizer(ngram_range=(1,2))),
    ('lr_clf',LogisticRegression(C=10))])

pipeline.fit(x_train,y_train)
pred = pipeline.predict(x_test)
pred_proba = pipeline.predict_proba(x_test)[:,1]

print('예측 정확도는 {0:.4f}'.format(accuracy_score(y_test,pred)))

In [ ]:
???